---
layout: single
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: https://static.cloudygo.com/static/Critical Theme Camp - Inspiration/Kaylie art brunch.jpg
excerpt: Exploring beauty through art and sound

feature_row:
  - title: "Fall Equinox at Luminata!"
    alt: "BettaFish Sculpture"
    url: "/events/luminata"
    image_path: "https://static.cloudygo.com/static/BettaFish/BettaFish_thumbnail.jpg"
    excerpt: |
      Interactive Illuminated Betta Fish Sculpture!
    btn_label: "See our Interactive Betta Fish Sculpture!"
    btn_class: "btn--info"

  - title: "Critical 2022!"
    alt: "Critical 2022 Poster"
    url: "/events/critical-wrap"
    image_path: "https://static.cloudygo.com/static/Critical%202022/CriticalPoster_thumb.jpg"
    excerpt: |
      Friends! Art! Collaboration! Electroluminescent menagerie!
    btn_label: "Read our Critical Summary"
    btn_class: "btn--info"

  - title: "Remergence 2022"
    alt: "Haus Anima's first public event!"
    url: "/events/remergence-wrap"
    image_path: "https://static.cloudygo.com/static/ReIgnition%202022%20Remergence/IMG_1381_thumb.jpg"
    excerpt: |
      Space! Collaborative art! Music!
    btn_label: "Read our Remergence Summary"
    btn_class: "btn--info"



  - title: "Lily Pad Temple under Moon's Light"
    alt: Pixel art and 8-bit adventure!
    url: "art/lily-pad-temple/"
    image_path: "https://static.cloudygo.com/static/LilyPad/lilypadtemple2.png"
    excerpt: Pixel art and 8-bit adventure!
    btn_label: "Pixel Art and 8-bit sounds!"
    btn_class: "btn--info"

  - title: "Haus Anima's Art Gallery"
    alt: "Gallery Main Photo"
    url: "/gallery"
    image_path: "https://static.cloudygo.com/static/Gallery/Dragon - Coral Dragon - L.jpg"
    excerpt: |
      Artwork on display at Haus Anima
      <br>
      Tours by Appointment
    btn_label: "Gallery Tour"
    btn_class: "btn--info"

  - title: "Music and Sounds from Anima"
    alt: "Anima Haus Logo"
    url: "/music"
    image_path: https://static.cloudygo.com/static/Misc/Haus%20Anima%20Fractal_256.jpg
    excerpt: |
      A sampling of the sounds we've made here at Anima.
      <br>
      A brief history of our musical backgrounds.
    btn_label: "Listen into the Mood of Haus Anima"
    btn_class: "btn--info"



  - title: "Videos from Anima"
    alt: "Anima Haus Logo"
    url: "/videos"
    image_path: https://static.cloudygo.com/static/Misc/Haus%20Anima%20Fractal_256.jpg
    excerpt: |
      Audio & Visual content produced by Anima.
    btn_label: "Videos"
    btn_class: "btn--info"

  - title: "Inspiring painting"
    alt: "Photo of paintings that inspires us"
    url: "/inspiration"
    image_path: "https://static.cloudygo.com/static/Critical%20Theme%20Camp%20-%20Inspiration/IMG_20191019_001756.jpg"
    excerpt: |
      Art, People, and Events that give us motivation and inspiration.
    btn_label: "Explore our Inspiration"
    btn_class: "btn--info"

  - title: '"Snail" - Cat'
    alt: 'Our Cat named Snail'
    url: "/snail-cat"
    image_path: "https://static.cloudygo.com/static/Snail/Snail on couch_thumb.jpg"
    excerpt: Our favorite furry friend, "Snail" cat
    btn_label: "Kitty!"
    btn_class: "btn--info"
---

<h2 class="archive__subtitle">Upcoming events!</h2>
<div>
  <p>
    Haus Anima just returned from <strong><a href="/events/seacompression">Seacompression</a></strong>.
    <br>
    You can see us next at <strong><a href="https://www.visitportangeles.com/event/wintertide-light-art-experience/">Port Angeles's Wintertide Light Art Experience</a></strong> Nov 25th - December 28th
  </p>
</div>

<h2 class="archive__subtitle">Seacompression - Decompression in style</h2>
<div>
  <p>
    Haus Anima presented <strong>Mourning Owl</strong>
    at Seacompression.
    Read more about it in our <a href="/events/seacompression">post</a> or browse
    <a href="https://photos.app.goo.gl/7kjo1Ks7hjJV3gqL8">our photo album</a>
  </p>
</div>

<h2 class="archive__subtitle">Celebrating the Fall Equinox at Luminata!</h2>
<div>
  <p>
    Haus Anima presented <strong>Interactive Illuminated Betta Fish Sculpture</strong>
    at <a href="https://fremontartscouncil.org/luminata">Luminata, F.A.C's celebration of the Fall Equinox.</a>
    Read more about it in our <a href="/events/luminata">post</a> or browse
    <a href="https://photos.app.goo.gl/3jUfCPXMs2Rhnzkh6">our photo album</a>
  </p>
</div>

<br>
<h3 class="archive__subtitle">Some Haus Anima adventures</h3>
<br>
<div class="index-feature-row">
  {% include feature_row %}
</div>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type="entries_layout" %}
  {% endfor %}
</div>

{% include paginator.html %}
