---
layout: single
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: https://static.cloudygo.com/static/Critical Theme Camp - Inspiration/Kaylie art brunch.jpg
excerpt: Exploring beauty through art and sound
---

<h3 class="archive__subtitle">Some of our adventures</h3>

<div style="display: inline-block">
{% for page in site.pages %}
  {% if page.tags contains "Main" %}
    {% assign post = page %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type="entries_layout" %}
  {% endfor %}
</div>

{% include paginator.html %}
