---
layout: single
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: https://static.cloudygo.com/static/Critical Theme Camp - Inspiration/Kaylie art brunch.jpg
excerpt: Exploring beauty through art and sound

feature_row:
  - title: "Inspiring painting"
    alt: "Photo of a painting that inspires us"
    url: "/inspiration"
    image_path: "https://static.cloudygo.com/static/Critical%20Theme%20Camp%20-%20Inspiration/IMG_20191019_001756.jpg"
    excerpt: |
      Art, People, and Events that give us motivation and inspiration.
    btn_label: "Explore our Inspiration"
    btn_class: "btn--info"

  - title: "Generative Art"
    alt: "Generative Fractal Flame - Blue Ball"
    url: "/generative_art_2022"
    image_path:  https://raw.githubusercontent.com/sethtroisi/visual-experiments/main/day3/Blue%20Ball.png
    excerpt: |
      Follow along as we programmatically discover beauty in Fractals.
      <br>
      Primarily using Fractorium, Processing, and Python.
    btn_label: "Generative Art"
    btn_class: "btn--info"

  - title: "Haus Anima's Art Gallery"
    alt: "Gallery Main Photo"
    url: "/gallery"
    image_path: "https://static.cloudygo.com/static/Gallery/Dragon - Coral Dragon - L.jpg"
    excerpt: |
      Artwork on display at Haus Anima
      <br>
      Tours by Appointment
    btn_label: "Gallery Tour"
    btn_class: "btn--info"
  - image_path: https://static.cloudygo.com/static/Misc/Haus%20Anima%20Fractal_256.jpg
    alt: "Anima Haus Logo"
    title: "Music and Sounds from Anima"
    excerpt: |
      A sampling of the sounds we've made here at Anima.
      <br>
      A brief history of our musical backgrounds.
    url: "/music"
    btn_label: "Listen into the Mood of Haus Anima"
    btn_class: "btn--info"
---

<h3 class="archive__subtitle">Some of our adventures</h3>

<div class="index-feature-row">
  {% include feature_row %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type="entries_layout" %}
  {% endfor %}
</div>

{% include paginator.html %}
