/*
   Media and embeds
   ========================================================================== */

/* Figures and images */



figure {
  &.thin {
        width: 75%;
        margin: auto;
  }

  &.fourth {
    > a,
    > img,
    > video {
      @include breakpoint($small) {
        width: calc(25% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}
