---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.gallery figure {
    margin: 1em;
}

figcaption .mfp-bottom-bar,
figcaption .mfp-bottom-bar .mfp-counter {
    font-size: 20px;
}

.index-feature-row .feature__wrapper .archive__item-teaser {
    // Hack to make image a square
    height: 0;
    padding-bottom: 100%;
}

.index-feature-row .btn--primary {
    color: #223;
}


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
